@function color-exists($color, $palette: $color-palette) {
  $_exists: false;
  @if map-get($palette, $color) or map-get($palette, to-lower-case($color)) {
    $_exists: true;
  }
  @return $_exists;
}

@function color($color, $opacity: 1, $palette: $color-palette) {
  $_color: blue;

  @if color-exists($color) {
    @if $opacity < 1 {
      $_color: rgba(map-get($palette, to-lower-case($color)), $opacity);
    } @else {
      $_color: map-get($palette, to-lower-case($color));
    }
  } @else {
    @warn "#{$color} does not exist";
  }
  @return $_color;
}
