$theme-settings: (
  "prefix": "ol",
  colors: (
    shades: true,
    opacity: true,
  ),
  "content.block": ".content",
  "content.paragraph.max-width": max(75ch, 960px),
  "content.max-width": max(75ch, 720px),
  "content.color.current10": true,
  "content.link.colors": (
    contra,
    secondary,
  ),
  "h6.font-size": 14px,
  "h6.text-transform": uppercase,
  "h6.letter-spacing": 0.1em,
  "h6.color": var(--current-color, var(--contra, var(--primary))),
  "logo.max-height": 3rem,
  "grid.total": 12,
  "grid.breakpoint.names": (
    small,
    medium,
    large,
  ),
  "grid.breakpoint.sizes": (
    full: 100%,
    half: 50%,
    third: 33.333%,
    two-third: 66.666%,
    quarter: 25%,
    three-quarter: 75%,
    fifth: 20%,
    two-fifth: 40%,
    three-fifth: 60%,
    four-fifth: 80%,
  ),
  "grid.breakpoint.small": 0,
  "grid.breakpoint.medium": 720,
  "grid.breakpoint.large": 1280,
  "define.row.class": ".row",
  "define.column.class": ".column",
  "define.body.class": "body",
  "define.content.class": ".content",
  "define.section.class": ".section",
  "define.container.class": ".container",
  "define.main.class": ".main",
  "define.header.class": ".header",
  "define.logo.class": ".logo",
  "define.footer.class": ".footer",
  "define.navigation.class": ".navigation",
  "define.tooltip.class": ".tooltip",
  "define.button.class": ".button",
  "define.card.class": ".card",
  "define.notification.class": ".notification",
  "define.toolbar.class": ".toolbar",
  "define.colormode.class": ".color-mode",
  "define.archive.class": ".archive",
  "define.tag.class": ".tag",
  "define.tags.class": ".tags",
  "define.task-list.class": ".task-list",
  "define.alert.class": "alert",
  "define.language.class": ".language"
) !default;
