@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --gtr-code-font-family: "Space Mono", monospace;
  --gtr-primary-font-family: "Inter", sans-serif;
  --gtr-heading-font-family: "Libre Franklin", sans-serif;
  --gtr-h1-heading-font-family: var(--gtr-heading-font-family);
  --gtr-h2-heading-font-family: var(--gtr-heading-font-family);
  --gtr-h3-heading-font-family: var(--gtr-heading-font-family);
  --gtr-h4-heading-font-family: var(--gtr-heading-font-family);
}
