.content {
  a[href*="tel"] {
    border: 1px solid red;
  }
  a[href*="mailto"] {
    border: 1px solid blue;
  }
}

@media screen and (min-width: 0) {
  :root {
    --ol-dark-rgb: 100, 100, 100;
    --ol-light-rgb: 230, 230, 200;
  }
}
