@mixin box() {
  @if export("box") {
    .boxes {
      width: 100%;
      display: flex;
      &--inline {
        display: flex-inline;
      }
      &--row {
        flex-direction: row;
      }
      &--column {
        flex-direction: column;
      }
      &--auto {
        .box {
          width: v(box-width, 100%);
          padding-bottom: v(box-height, 100%);
        }
      }
    }
    .box {
          width: 100%;
          height: 100%;
          border-radius: v(borderRadius),
      &--auto {
            width: auto;
            height: auto;
   
      }
    }
  }
}
