@mixin section-archive() {
  $archive: '.archive';

  #{$archive} {
    position: relative;
    background-color: v(background);
    color: v(foreground);
    background-image: linear-gradient(
      to bottom,
      #{v(primary-10)},
      #{v(background)}
    );

    &__link {
      display: block;
      border-radius: v(borderRadius);
      text-decoration: none;
      color: currentColor;
    }

    &__date {
      font-variant-numeric: tabular-nums;
      opacity: 0.5;
      display: block;
      font-size: 0.875em;
      span + span {
        margin-left: 0.5ch;
      }
    }

    /*
      * Articles
      */
    &--articles {
      #{$archive} {
        &__list {
          display: grid;
          gap: v(space-l);
          width: 100%;
          padding: v(space-l);
          @media #{breakpoint("medium", up)} {
            grid-template-columns: 1fr 1fr 1fr;
            position: relative;
          }
        }
        &__text {
          font-size: 1.5em;
          display: block;
          font-weight: bold;
          transition: v(transition);
        }
        &__excerpt {
          opacity: 0.5;
          &,
          &:first-of-type {
            font-size: 0.875em;
          }
        }
        &__date {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          margin: 0.5em;
          font-size: 0.8em;
          font-weight: bold;
          background-color: v(background);
          color: currentColor;
          padding: 0.5em;
          border-radius: v(borderRadius);
        }
        &__info {
          display: block;
          padding: v(space);
        }
        &__item {
          position: relative;
          display: block;
          width: 100%;
          border-radius: v(borderRadius);
          border: 2px solid var(--foreground-10);

          &:hover {
            background-color: v(background);
            border-color: v(background);
            #{$archive}__date {
              opacity: 1;
            }
          }
          &:focus {
            outline: none;
          }
        }
        &__tags {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-align: center;
          padding: 0;
          opacity: 0.25;
          transition: opacity v(transition);
          @media #{breakpoint(medium)} {
            margin-top: calc(#{v(space)} * -1);
          }
          &:hover {
            opacity: 1;
          }
        }
        &__image {
          width: 100%;
          height: 10em;
          overflow: hidden;
          flex-shrink: 0;
          border-radius: v(borderRadius);

          &--svg {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              color: v(secondary);
              width: 100%;
              height: 100%;
              max-width: 100%;
              max-height: 100%;
            }
          }
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
          & + #{$archive}__info {
            margin-top: 1em;
          }
          @media #{breakpoint(medium)} {
            & + #{$archive}__date + #{$archive}__text {
              margin-top: 1em;
            }
          }
          &--empty {
            position: relative;
            background-color: v(background10);
            &::before {
              content: "?";
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              display: block;
              font-size: 2em;
              font-weight: bold;
              width: 2em;
              height: 2em;
              line-height: 2em;
              text-align: center;
              background-color: v(background);
              border-radius: v(borderRadius);
              color: v(background10);
            }
            &[data-icon]::before {
              content: attr(data-icon);
            }
          }
        }
        &__link {
          width: 100%;
          & + #{$archive}__tags {
            margin-top: 0.5em;
          }
        }
      }
    }

    /*
      * Blog
      */
    &--blog {
      #{$archive} {
        &__list {
          display: flex;
          flex-direction: column;
        }
        // &__title {
        //   transition: transform v(transition);
        // }
        &__excerpt {
          opacity: 0.5;
          &,
          &:first-of-type {
            font-size: 0.875em;
          }
        }
        &__title {
          position: relative;
        }
        &__link {
          position: relative;
          z-index: 1;
          line-height: 1.75;
          display: flex;
          transition: transform v(transition);
          &:focus {
            outline: none;
          }
          &:hover #{$archive}__excerpt {
            opacity: 0.75;
          }
        }
        &__item {
          position: relative;
          & + #{$archive}__item {
            margin-top: #{v(space)};
          }

          &:not(:hover):focus-within {
            background-color: v(background);
          }
        }
        &__info {
          display: flex;
          flex-direction: column;
        }
        &__tags {
          opacity: 0.25;
          &:hover {
            opacity: 1;
          }
        }
        &__image {
          &,
          img {
            width: 4em;
            height: 4em;
            border-radius: v(borderRadius);
            object-fit: cover;
          }
          @media #{breakpoint(medium)} {
            &:not(#{$archive}__image--empty) + #{$archive}__date {
              margin-left: calc(#{v(space)} / 2);
            }
          }
          &--empty {
            display: none;
          }
          @media #{breakpoint(small,only)} {
            float: left;
            margin-right: calc(#{v(space)} / 2);
          }
          &--svg {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              max-width: 100%;
              max-height: 100%;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
