@mixin section-header() {
  $header: get-setting("define.header.class");
  $logo: get-setting("define.logo.class");

  #{$header} {
    position: relative;
    z-index: 10;
    // @media #{breakpoint(medium,up)} {
    //   padding: v(space);
    // }
    &--sticky {
      position: sticky;
      top: 0;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      align-items: center;

      background-color: v(background50);
      backdrop-filter: blur(1em);
      border-bottom: 2px solid var(--foreground-10);

      @media #{breakpoint(medium,up)} {
        // border-radius: v(borderRadius);
        border-bottom: 2px solid var(--foreground-10, transparent);
        padding: v(space);
      }

      &--hide {
        transform: translateY(-50%);
        opacity: 0;
      }
      &--show {
        transform: translateY(0%);
        opacity: 1;
      }
      &--off-top {
        --border-color: #{v(foreground-10)};
      }
      &--on-top {
        --border-color: transparent;
      }
    }
  }

  #{$header} #{$logo} {
    font-weight: bold;
    color: currentColor;
    text-decoration: none;
    display: flex;
    align-items: center;

    @media #{breakpoint(small,only)} {
      padding: v(space);
    }

    &--title {
      line-height: 3rem;
      padding: 0;
    }
    &--image-only ~ span {
      display: none;
    }
    img {
      max-width: 5em;
      max-height: 5em;
    }
    &__text {
      padding: v(space);
      @media #{breakpoint(small,only)} {
        padding-left: v(space-l);
      }
    }
    svg {
      display: block;
      height: 100%;
      min-height: 3em;
      max-height: 5em;
      width: auto;
      max-width: 8em;
      @media #{breakpoint(small,only)} {
        min-height: 2em;
        max-height: 2em;
      }
      rect,
      polygon,
      path {
        &:not([fill]) {
          fill: currentColor;
        }
      }
    }
  }
}
