@mixin section-navigation() {
  $navigation: get-setting("define.navigation.class");
  $header: get-setting("define.header.class");
  $footer: get-setting("define.footer.class");

  #{$navigation} {
    position: relative;
    display: flex;

    &__list {
      display: flex;
      background-color: inherit;

      @media #{breakpoint('medium','up')}{
        gap: v(space);
      }

      @media #{breakpoint('small',only)} {
        flex-direction: column;
      }

      #{$header} & {
        @media #{breakpoint('medium',up)} {
          &--sub {
            border-radius: v(borderRadius);
            outline: 2px solid v(foreground-10);
            background-color: v(foreground-10);
            position: absolute;
            left: 50%;
            top: calc(50% + 2em);
            flex-direction: column;
            padding: 0.75em;
            opacity: 0;
            backdrop-filter: blur(0.5em);
            pointer-events: none;

            transform-origin: 50% 0;
            transform: scale(0.85) translateX(var(--nav-translate-x, -50%));
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            z-index: 2;

            &::before {
              content: "";
              width: 1em;
              height: 1em;
              position: absolute;
              top: 0;
              left: 50%;
              border-top-right-radius: v(borderRadius);
              display: block;
              background-color: v(foreground-10);
              transform: translateX(-50%) translateY(calc(-50% - 2px))
                rotate(-45deg);
              clip-path: polygon(0 0, 100% 0, 100% 100%);
            }
          }
        }
      }
      #{$footer} & {
        &--sub {
          display: none;
        }
      }
    }

    &__item {
      position: relative;

      &:last-of-type {
        #{$navigation}__list--sub {
          left: auto;
          right: 0;
          --nav-translate-x: 0;
        }
      }

      &--parent > #{$navigation}__link {
        #{$navigation}__icon {
          color: v(primary);
        }
        &::after {
          background-color: v(navigation-dot-parent, v(primary));
        }
      }
      &--current > #{$navigation}__link {
        #{$navigation}__icon {
          color: v(secondary);
        }
        &::after {
          background-color: v(navigation-dot-current, v(secondary));
        }
      }
      &:hover,
      &:focus-within {
        #{$header} & {
          @media #{breakpoint('medium',up)} {
            #{$navigation}__list {
              opacity: 1;
              pointer-events: all;
              transform: scale(1) translateX(var(--nav-translate-x, -50%));
            }
          }
        }
      }
    }
    &__icon {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5em;
      z-index: 2;
      position: relative;
      @media #{breakpoint('small',only)} {
        width: 2.5em;
        height: 2.5em;
        & + #{$navigation}__text {
          line-height: 2.5;
        }
      }
    }
    &__text {
      position: relative;
      z-index: 2;
      display: block;
      transition: transform v(transition);
      line-height: 1.5;
      white-space: nowrap;
      font-family: v(primaryFontFamily);
    }

    &__link {
      padding: v(space-s);
      text-decoration: none;
      position: relative;
      color: currentColor;
      display: flex;
      transition: transform v(transition);

      @media #{breakpoint(small,only)} {
        &--sub {
          font-size: 0.875em;
          opacity: 0.75;
          padding: 0 v(space-s);
        }
      }
      @media #{breakpoint(medium,up)} {
        &--sub {
          padding: 0.5em;
        }
      }
      &::after {
        content: "";
        display: block;
        width: 0.25em;
        height: 0.25em;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        @media #{breakpoint(medium,up)} {
          left: 50%;
          top: calc(50% + 0.5em);
          transform: translate(-50%, 50%);
        }
        @media #{breakpoint(small,only)} {
          left: 1em;
          top: 50%;
          transform: translate(-200%, -50%);
        }
      }
      &::before {
        content: "";
        display: block;
        background-color: v(primary10);

        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        border-radius: v(borderRadius);
        z-index: 1;
        opacity: 0;
        transition: transform v(transition);
      }
      &:hover {
        transform: scale(1.1);
        text-decoration: none;
      }
    }
  }
}

@mixin section-navigation-toggle() {
  $navigation: get-setting("define.navigation.class");
  $header: get-setting("define.header.class");
  @media #{breakpoint(medium,up)} {
    #{$navigation} {
      &__background {
        display: none;
      }
      &__toggle {
        display: none;
      }
    }
  }
  @media #{breakpoint(small,only)} {
    #{$navigation} {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      pointer-events: none;
      &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -150%) scale(0.8);
        transition: transform 0.3s, opacity 0.5s;
        opacity: 0;
      }
      &__text{
        width: 100%; text-align: center;
      }
      &__toggle {
        z-index: 11;
        position: fixed;
        top: v(space);
        right: v(space);
      }
      &__background {
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: v(background);
        z-index: 10;
        transition: clip-path 0.3s 0.5s ease-in-out;
        clip-path: inset(0 0 100% 0);
      }

      &__toggle {
        &[active="true"] {
          & ~ #{$header} #{$navigation} {
            pointer-events: all;
            &__list {
              transform: translate(-50%, -50%) scale(1);
              transition: transform 0.3s 0s, opacity 0.3s 0s;
              opacity: 1;
            }
          }
          & ~ #{$navigation}__background {
            pointer-events: all;
            clip-path: inset(0 0 0 0);
            transition: clip-path 0.5s ease-in-out;
          }
        }
      }
    }
  }
  // $navigation: get-setting("define.navigation.class");
  // $header: get-setting("define.header.class");
  // #{$navigation} {
  //   /*
  //     * Inactive Mobile Header Navigation Toggle
  //     */
  //   &__toggle {
  //     position: fixed;
  //     top: 0;
  //     right: 0;
  //     z-index: 11;
  //   }
  //   /*
  //     * Inactive Mobile Header Navigation Background
  //     */
  //   &__background {
  //     position: fixed;
  //     top: 0;
  //     left: 0;
  //     width: 100vw;
  //     height: 100vh;
  //     pointer-events: none;
  //     background-color: v(background);
  //     opacity: 0;
  //     z-index: 5;
  //     transition: opacity 0.3s ease-in-out;
  //   }
  //   /*
  //     * Inactive Mobile Header Navigation Control
  //     */
  //   &__input {
  //     position: absolute;
  //     width: 0;
  //     height: 0;
  //     clip-path: inset(100% 100% 100% 100%);
  //     opacity: 0;

  //     /*
  //       * Inactive Mobile Header Navigation
  //       */
  //     & ~ #{$navigation},
  //     & ~ #{$header} #{$navigation} {
  //       @media #{breakpoint(small,only)} {
  //         background-color: v(background90);
  //         color: v(foreground);
  //         height: auto;
  //         min-width: 50vw;
  //         height: 100vh;
  //         right: 0;
  //         top: 0;
  //         padding: v(space-s);
  //         padding-top: calc(#{v(space)} * 2);
  //         transition: clip-path v(transition);
  //         opacity: 1;
  //         clip-path: inset(0 0 0 100%);
  //         align-items: flex-start;
  //         justify-content: start;
  //         transform-origin: 50% 0;
  //         position: absolute;
  //         pointer-events: none;
  //         border-left: 1px solid v(foreground-25);

  //         #{$navigation}__link {
  //           width: auto;
  //           &::before {
  //             opacity: 1;
  //             transform: translate(-50%, -50%) scale(1);
  //             background-color: v(background90);
  //           }
  //         }
  //       }
  //     }

  //     @media #{breakpoint(small,only)} {
  //       &--active {
  //         // & ~ footer.footer,
  //         // & ~ main.content {
  //         //   transform: translateX(-10%);
  //         //   filter: blur(2px);
  //         // }
  //         /*
  //         * Active Mobile Header Navigation
  //         */
  //         & ~ #{$navigation},
  //         & ~ #{$header} #{$navigation} {
  //           clip-path: inset(0 0 0 0);
  //           pointer-events: all;
  //         }

  //         /*
  //         * Active Mobile Header Navigation Background
  //         */
  //         & ~ #{$navigation}__background {
  //           pointer-events: all;
  //           opacity: 0.75;
  //         }
  //       }
  //     }
  //   }
  // }
}
.footer .navigation {
  @media #{breakpoint(small,only)} {
    padding: 1em;
  }
  &__link {
    padding: 0.5em;
  }
  .button {
    display: none;
  }
}
