@mixin section-section() {
  $section: get-setting("define.section.class");
  $container: get-setting("define.container.class");

  #{$section} {
    position: relative;
    padding: #{variable(space)};
    background-size: cover;
    background-position: center center;

    @media #{breakpoint(medium)} {
      padding: calc(#{variable(space)} * 2);
    }

    & > #{$container} {
      max-width: variable("content.max-width");
      margin-left: auto;
      margin-right: auto;
      & + #{$container} {
        margin-top: 1em;
      }
    }
    @media #{breakpoint(large)} {
      &.archive {
        & > #{$container} {
          max-width: 100%;
        }
      }
    }

    @if export("section.section.heights") {
      &--h-3-4 {
        min-height: 75vh;
      }
    }
    &--intro {
      min-height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .container {
        h1,
        h2,
        h3,
        p {
          span {
            background-color: v(background);
            color: v(foreground);
            padding: 0.75rem 1.25rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            border-radius: v(borderRadius);
          }
        }
        h1,
        h2,
        h3 {
          & + p {
            margin-top: v(space);
          }
        }
        p span {
          line-height: 2.25;
        }
      }
    }
  }
}
