@mixin section-tags() {
  $tags: ".tags";
  #{$tags} {
    border-top: 1px solid v(foreground-10);
    border-bottom: 1px solid v(foreground-10);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.25;
    transition: opacity v(transition);
    &:hover {
      opacity: 1;
    }
  }
}
