@mixin section-content() {
  main > section:first-child {
    p:first-of-type {
      font-size: 1.2em;
    }
  }
  .content{
    padding: v(space-l) 0 ;
    @media #{breakpoint(medium,down)}{
      padding: v(space-l);
    }
  }
}
