@mixin section-footer() {
  $footer: get-setting("define.footer.class");
  $navigation: get-setting("define.navigation.class");

  #{$footer} {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: v(space);
    @media #{breakpoint(small,only)} {
      justify-content: start;
    }
  }
}
