@mixin section-archive() {
  $archive: get-setting("define.archive.class");

  #{$archive} {
    position: relative;
    background-color: variable(background);
    color: variable(foreground);
    background-image: linear-gradient(
      to bottom,
      #{variable(primary10)},
      #{variable(background)}
    );

    &__link {
      display: block;
      border-radius: variable(borderRadius);
      text-decoration: none;
      color: currentColor;
    }

    &__date {
      font-variant-numeric: tabular-nums;
      opacity: 0.5;
      display: block;
      font-size: 0.875em;
      span + span {
        margin-left: 0.5ch;
      }
    }

    /*
      * Articles
      */
    &--articles {
      #{$archive} {
        &__list {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          @media #{breakpoint("medium", up)} {
            width: calc(100% + #{variable(space)});
            margin-left: calc(#{variable(space)} * -1);
            position: relative;
            top: calc(#{variable(space)} * -1);
          }
        }
        &__text {
          font-size: 1.5em;
          display: block;
          font-weight: bold;
          transition: v(transition);
        }
        &__excerpt {
          opacity: 0.5;
          &,
          &:first-of-type {
            font-size: 0.875em;
          }
        }
        &__date {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          margin: 0.5em;
          font-size: 0.8em;
          font-weight: bold;
          background-color: v(background);
          color: currentColor;
          padding: 0.5em;
          border-radius: v(borderRadius);
        }
        &__info {
          display: block;
        }
        &__item {
          position: relative;
          display: block;
          margin-top: #{variable(space)};
          transform: scale(1);
          transition: transform v(transition);
          width: 100%;
          border-radius: v(borderRadius);

          @media #{bp(medium,up)} {
            width: calc(33.33% - #{v(space)});
            margin-left: #{v(space)};
          }
          & + #{$archive}__item {
            flex-direction: column;
          }

          &::before {
            content: "";
            display: block;
            width: calc(100% + #{v(space)});
            height: calc(100% + #{v(space)});
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.8);
            background-color: variable(background);
            z-index: -1;
            box-shadow: 0 0 1em 0 v(background10);
            opacity: 0;
            border-radius: calc(#{v(borderRadius)} * 2);
            transition: opacity v(transition), transform v(transition);
          }
          &:hover {
            #{$archive}__date {
              opacity: 1;
            }
          }
          &:hover,
          &:focus {
            transform: scale(1.05);
            &::before {
              opacity: 1;
              transform: translate(-50%, -50%) scale(1);
            }
          }
          &:focus {
            outline: none;
          }
        }
        &__tags {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-align: center;
          padding: 0;
          opacity: 0.25;
          transition: opacity variable(transition);
          @media #{breakpoint(medium)} {
            margin-top: calc(#{variable(space)} * -1);
          }
          &:hover {
            opacity: 1;
          }
        }
        &__image {
          width: 100%;
          height: 10em;
          overflow: hidden;
          flex-shrink: 0;
          border-radius: variable(borderRadius);

          &--svg {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              color: v(secondary);
              width: 100%;
              height: 100%;
              max-width: 100%;
              max-height: 100%;
            }
          }
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
          & + #{$archive}__info {
            margin-top: 1em;
          }
          @media #{breakpoint(medium)} {
            & + #{$archive}__date + #{$archive}__text {
              margin-top: 1em;
            }
          }
          &--empty {
            position: relative;
            background-color: v(background10);
            &::before {
              content: "?";
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              display: block;
              font-size: 2em;
              font-weight: bold;
              width: 2em;
              height: 2em;
              line-height: 2em;
              text-align: center;
              background-color: v(background);
              border-radius: v(borderRadius);
              color: v(background10);
            }
          }
        }
        &__link {
          width: 100%;
          & + #{$archive}__tags {
            margin-top: 0.5em;
          }
        }
      }
    }

    /*
      * Blog
      */
    &--blog {
      #{$archive} {
        &__list {
          display: flex;
          flex-direction: column;
        }
        // &__title {
        //   transition: transform variable(transition);
        // }
        &__excerpt {
          opacity: 0.5;
          &,
          &:first-of-type {
            font-size: 0.875em;
          }
        }
        &__title {
          position: relative;
        }
        &__link {
          position: relative;
          z-index: 1;
          line-height: 1.75;
          display: flex;
          transition: transform variable(transition);
          &:focus {
            outline: none;
          }
          &:hover #{$archive}__excerpt {
            opacity: 0.75;
          }
        }
        &__item {
          position: relative;
          & + #{$archive}__item {
            margin-top: #{variable(space)};
          }
          &::before {
            content: "";
            pointer-events: none;
            display: block;
            width: calc(100% + #{variable(space)});
            height: calc(100% + #{variable(space)});
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.8);
            z-index: 0;
            background-color: variable(background);
            border-radius: variable(borderRadius);
            opacity: 0;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
          }

          &:not(:hover):focus-within {
            background-color: variable(background);
            &::before {
              opacity: 1;
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
        &__info {
          display: flex;
          flex-direction: column;
        }
        &__tags {
          opacity: 0.25;
          &:hover {
            opacity: 1;
          }
        }
        &__image {
          &,
          img {
            width: 4em;
            height: 4em;
            border-radius: variable(borderRadius);
            object-fit: cover;
          }
          @media #{breakpoint(medium)} {
            &:not(#{$archive}__image--empty) + #{$archive}__date {
              margin-left: calc(#{variable(space)} / 2);
            }
          }
          &--empty {
            display: none;
          }
          @media #{breakpoint(small,only)} {
            float: left;
            margin-right: calc(#{variable(space)} / 2);
          }
          &--svg {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              max-width: 100%;
              max-height: 100%;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
