@mixin section-section() {
  $section: ".section";
  $container: ".container";

  #{$section} {
    position: relative;


    & > #{$container} {
      max-width: v(max-width);
      margin-left: auto;
      margin-right: auto;
      & + #{$container} {
        margin-top: 1em;
      }
    }
  }
}
