// @use "sass:list";

$theme-output: () !default;
$output: ();
$output: list-merge($output, $theme-output);

@function export($key) {
  $_out: false;
  @if list-contains($output, "*") {
    $_out: true;
  } @else if list-contains($output, $key) {
    $_out: true;
  }
  @return $_out;
}
