.footer {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  --background: var(--dark);
  --foreground: var(--light);

  &__header {
    padding: var(--space) var(--space-l);
    display: flex;
    justify-content: space-between;
  }
  &__main {
    padding: var(--space-l);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--dark-90);
    border-bottom: 1px solid var(--dark-90);
  }
  &__footer {
    padding: var(--space) var(--space-l);
    display: flex;
    justify-content: space-between;
    gap: var(--space);
    @media screen and (max-width: 720px){
      flex-direction: column-reverse;
    }
  }

  &__container {
    width: 100%;
    background: var(--background);
    color: var(--foreground);
    display: grid;

    .logo {
      grid-area: logo;
    }
    .language {
      grid-area: lang;
    }
    sil-switch-color {
      grid-area: switch;
    }
    .navigation {
      flex-grow: 1;
      grid-area: nav;
    }
    .copyright {
      grid-area: copyright;
      font-size: 0.8em;
      opacity: 0.5;
      text-align: center;
    }
    .socials {
      grid-area: socials;
      &__list {
        border: 1px solid red;
      }
    }
  }
}

.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-s);
  justify-content: center;
  &__link {
    font-size: 1.5em;
    color: inherit;
    opacity:.5;
    &:hover {
      opacity: 1;
      color: var(--primary);
    }
  }
}
