.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  &__container {
    padding: var(--space-s) var(--space);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid var(--secondary-30);
    background-image: linear-gradient(to right, var(--secondary-30), transparent, var(--primary-30));
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--background);
    color: var(--foreground);
    transform: translateY(0);
    transition: transform .3s ease-in-out; 
    &--hide{
        transform: translateY(-100%);
    }
  }
}
