.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__container {
    padding: var(--space-s) var(--space);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--foreground);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    gap: var(--space-l);
    &--hide {
      transform: translateY(-100%);
    }
    @media screen and (max-width: 720px) {
      justify-content: flex-start;
    }
  }
}
