
main .section .container {
    max-width: 100%;
    width: 64ch;
    margin: auto;
  }

  main .section.archive {
    background-color: var(--secondary-10);
  }
  
  main .section.archive .container {

    width: 1440px;
  }

  .page-container{
    // min-height: 100svh;
  }