.section.tags {
  background-color: var(--primary-10);
  padding: var(--space-xl);
}

.tag {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: var(--space-s);
  }
  &__item {
  }
  &__link {
    text-decoration: none;
    border: 2px solid var(--primary-30);

    border-radius: var(--border-radius);
    padding: var(--space-xs);
    color: inherit;
    font-size: 0.875em;
    &::before {
      content: "#";
    }
    &:hover{
        background-color: var(--primary-30);
    }
  }
}
