each item in archive.children
    section.section.archive-item(class=`archive--section`, style=`${item.meta.style ? item.meta.style : "" }`, id=`${item.id}`)
        div.container
            | !{item.html}
            