section.section.archive.archive--articles
    div.container
        if archive.title
            .content
                h2.h4= archive.title
        sil-article-overview 
            each item in archive.children 
                sil-article-item(onclick=`linkAction('${item.redirect ? item.redirect : item.link}')`, image=`${item.thumbnail}`, link="#", title= item.title, icon= item.meta.icon, excerpt= item.excerpt)