main.main.content
    section.section
        div.container
            if meta.image   
                h1=title
                figure
                    img(src=meta.image)
                | !{removeTitle(content)}  
            else 
                | !{content}  

    if children.length
        include archive.pug
        
    if tags.length
        include tags.pug
