footer.footer 
    if menu 
        include navigation.pug 



    if langMenu.length > 1
        ul.language
            each language in langMenu 
                li.language__item(class= `${language.active ? 'language__item--active' : ''}`)
                    a.language__link(href=`${language.link}`)
                        span.language__text=language.name
