if menu.length > 0
    sil-menu-toggle.navigation__toggle
    div.navigation__background

    header.header.header--sticky
        div.header__container
            include logo.pug 

            if menu.length > 0
                include navigation.pug 