doctype html
html(lang=`${language}`)
 
  include head.pug
     
  body(class= `page--${name}`)
  
    div#app
      div.wrapper

        include header.pug 
        
        include content.pug
        
        include footer.pug

  include scripts.pug 

  if meta.redirect
    script.
      window.location.replace("#{meta.redirect}");

    