doctype html
html(lang=`${language}`)
 
  include head.pug
     
  body(class= `page--${name}`)
  
    div.page-container
        include header.pug 
        
        include content.pug
    
    include footer.pug

    if meta.redirect
      script.
        window.location.replace("#{meta.redirect}");


  include webcomponents.pug   
      
  script
      include script/loadWebComponents.js 
      include script/inlineLoad.js 
      if has.languages
          include script/detectLanguage.js 
      if has.colors
          include script/findColors.js
      if has.header
          include script/stickyNav.js
      if has.table
          include script/wrapTables.js
      if has.urlToken
          include script/linkify.js




    


