doctype html
html(lang=`${language}`)
 
  include head.pug

  include components.pug
     
  body(class= `page--${name}`)
  
    include header.pug 
    
    include content.pug
    
    include footer.pug



if meta.redirect
  script.
    window.location.replace("#{meta.redirect}");

