@import "theme";
@import "@sil/themer/src/index.scss";

body[color-mode="light"] {
  @include customProperties($lightmode-colors);
  @each $color-name, $color-value in $lightmode-colors {
    .background--#{$color-name} {
      background-color: variable($color-name);
      color: variable(#{$color-name}Text);
    }
  }
  // --code-lightness: 25;
  // --code-saturation: 80;
}

body[color-mode="dark"] {
  @include customProperties($darkmode-colors);
  @each $color-name, $color-value in $darkmode-colors {
    .background--#{$color-name} {
      background-color: variable($color-name);
      color: variable(#{$color-name}Text);
    }
  }
  // --code-lightness: 75;
  // --code-saturation: 80;
}

@import "tools";
@import "modules";

@each $color-name, $color-value in $colors {
  .background--#{$color-name} {
    background-color: variable($color-name);
    color: variable(#{$color-name}Text);
  }
}

// :root {
//   --code-group-comment: #{variable(foreground20)};
//   --code-group-punctuation: #{variable(primary)};
//   --code-group-property: #{variable(secondary)};
//   --code-group-boolean: #{variable(success)};
//   --code-group-selector: #{variable(warning)};
//   --code-group-operator: #{variable(info)};
//   --code-group-operator: #{variable(secondary50)};
//   --code-group-atrule: #{variable(primary50)};
//   --code-group-regex: #{variable(error)};
// }
