@media print {
  :root {
    @include get-lightmode();
  }
  body[color-mode="dark"],
  body[color-mode="light"] {
    @include get-lightmode();
  }

  body,
  .archive {
    background-color: white;
    background-image: none;
    color: black;
  }
  .navigation__background,
  .header,
  .footer,
  sil-menu-toggle {
    display: none;
  }
  .main {
    padding: 0;
  }
  .content {
    padding: 2cm;
    font-size: 16px;
  }
}
