@mixin styled-header-image() {
  $parent: get-setting("define.content.class");
  #{$parent} {
    h1 + figure {
      margin-top: calc(#{variable(space)} * 2);
      width: 100%;
    }

    @media #{breakpoint(medium)} {
      h1 + figure {
        width: calc(100vw + (#{variable(space)} * 2));
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    h1 + figure img {
      width: 100vw;
      max-width: 100vw;
      position: relative;
      left: 50%;
      margin-left: -50vw;
      object-fit: cover;
    }
    h1 + figure + * {
      margin-top: variable(space);
    }
  }
}
