@mixin box() {
  @if export("box") {
    .boxes {
      width: 100%;
      display: flex;
      &--inline {
        display: flex-inline;
      }
      &--row {
        flex-direction: row;
      }
      &--column {
        flex-direction: column;
      }
      &--auto {
        .box {
          width: variable(box-width, 100%);
          padding-bottom: variable(box-height, 100%);
        }
      }
    }
    .box {
      @include property(
        (
          width: 100%,
          height: 100%,
          border-radius: borderRadius,
        )
      );
      &--auto {
        @include property(
          (
            width: auto,
            height: auto,
          )
        );
      }
    }
  }
}
