body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --primary-color: #1b998b;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222222;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
    color: #222222;
  }
}

h1 {
  font-size: calc(1.25vw + 1.5em);
}
h2 {
  font-size: calc(1vw + 1.25em);
}
h3 {
  font-size: calc(0.75vw + 1em);
}
h4 {
  font-size: calc(0.5vw + 1em);
}
h1,
h2,
h3 {
  font-family: "Lora", serif;
}

.content {
  width: 720px;
  padding: 2em;
  max-width: 100%;
  margin: auto;
}
.content a {
  color: var(--primary-color);
}

.content p {
  line-height: 1.75;
  font-size: 1em;
}

.content p:first-of-type {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
table {
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6,
  & + p,
  & + blockquote,
  & + table {
    margin-top: 1em;
  }
}
