@mixin alert() {
  $alert: get-setting("define.alert.class");
  #{$alert} {
    padding: v(space);
    border-radius: v(borderRadius);
    background-color: v(alert-background-color, v(background10));
    color: v(alert-text-color, currentColor);

    &--success {
      --alert-background-color: #{v(green-80)};
      --alert-text-color: #{v(green-20)};
    }
    &--warning {
      --alert-background-color: #{v(orange-80)};
      --alert-text-color: #{v(orange-20)};
    }
    &--error {
      --alert-background-color: #{v(red-80)};
      --alert-text-color: #{v(red-20)};
    }
    &--tip {
      --alert-background-color: #{v(blue-80)};
      --alert-text-color: #{v(blue-20)};
    }
  }
}
