@mixin alert() {
  $alert: get-setting("define.alert.class");
  #{$alert} {
    padding: v(space);
    border-radius: v(borderRadius);
    background-color: v(alert-background-color, v(background10));
    color: v(alert-text-color, currentColor);

    &--success {
      --alert-background-color: #{v(success90)};
      --alert-text-color: #{v(success10)};
    }
    &--warning {
      --alert-background-color: #{v(warning90)};
      --alert-text-color: #{v(warning10)};
    }
    &--error {
      --alert-background-color: #{v(error90)};
      --alert-text-color: #{v(error10)};
    }
    &--tip {
      --alert-background-color: #{v(notication90)};
      --alert-text-color: #{v(noticiation10)};
    }
  }
}
