@mixin alert() {
  $alert: get-setting("define.alert.class");
  #{$alert} {
    padding: variable(space);
    border-radius: variable(borderRadius);
    background-color: variable(alert-background-color, variable(accent));
    color: variable(alert-text-color, currentColor);

    &--success {
      --alert-background-color: #{variable(green-80)};
      --alert-text-color: #{variable(green-20)};
    }
    &--warning {
      --alert-background-color: #{variable(orange-80)};
      --alert-text-color: #{variable(orange-20)};
    }
    &--error {
      --alert-background-color: #{variable(red-80)};
      --alert-text-color: #{variable(red-20)};
    }
    &--tip {
      --alert-background-color: #{variable(blue-80)};
      --alert-text-color: #{variable(blue-20)};
    }
  }
}
