@mixin button() {
  $button: get-setting("define.button.class");
  #{$button} {
    display: inline-block;
    padding: v(space-xs) v(space-s);
    background-color: v(primary);
    color: v(primaryText);
    text-decoration: none;
    border-radius: variable(borderRadius);
    border: none;
    font-size: 1em;
    display: flex;
    gap: 1em;

    &:hover {
      background-color: v(primary90);
    }

    &--secondary {
      background-color: v(secondary);
      color: v(secondaryText);
      &:hover {
        background-color: v(secondary90);
      }
    }
    &--ghost {
      background-color: transparent;
      box-shadow: 0 0 1.5px 0 currentColor inset;
      color: currentColor;
    }
  }
}
