@mixin language() {
  $block: get-setting("define.language.class");
  #{$block} {
    display: flex;
    font-size: 1em;
    padding: var(--ol-space);

    @media #{breakpoint(small)} {
      width: 100%;
      justify-content: center;
    }

    &__link {
      display: block;
      position: relative;
      z-index: 1;
      padding: 0.5em;
      text-decoration: none;
      color: currentColor;
      transition: opacity var(--ol-transition);

      &::before {
        content: attr(data-title);
        position: absolute;
        bottom: 100%;
        left: 0%;
        transform: translateY(50%);
        opacity: 0;
        padding: 0.5em;
        background-color: v(background-90);
        border-radius: v(borderRadius);
        white-space: nowrap;
        font-size: 0.8em;
        transition: all .2s;
        color: v(background-90-text);
      }
      &:hover {
        &::before {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
    &__item {
      position: relative;
      &::before {
        content: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        z-index: 0;
        top: 50%;
        opacity: 0.25;
        background-color: v(primary);
        border-radius: calc(v(borderRadius) / 2);
        transform: translate(-50%, -50%);
      }
      &--active::before {
        content: "";
      }
    }
  }
}
