@mixin language() {
  $block: get-setting("define.language.class");
  #{$block} {
    display: flex;
    font-size: 1em;
    padding: var(--gtr-space);

    @media screen and (max-width: 720px) {
      width: 100%;
      justify-content: center;
    }
    @media screen and (min-width: 720px) {
      position: fixed;
      left: 0;
      bottom: 0;
      // left: var(--gtr-space);
      // bottom: var(--gtr-space);
    }
    &__link {
      display: block;
      position: relative;
      z-index: 1;
      padding: 0.5em;
      text-decoration: none;
      color: currentColor;
      transition: opacity var(--gtr-transition);
    }
    &__item {
      position: relative;
      &::before {
        content: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        z-index: 0;
        top: 50%;
        opacity: 0.25;
        background-color: var(--gtr-primary);
        border-radius: calc(var(--gtr-border-radius) / 2);
        transform: translate(-50%, -50%);
      }
      &--active::before {
        content: "";
      }
    }
  }
}
