@mixin notification() {
  $notification: get-setting("define.notification.class");
  #{$notification} {
    display: inline-block;
    padding: v(space-s);
    background-color: v(background10);
    border-radius: v(borderRadius);
    color: currentColor;

    $notifications: (
      "error",
      "warning",
      "info",
      "success",
      "primary",
      "secondary"
    );

    @each $name, $color in $notifications {
      &--#{$name} {
        border: 1px solid;
        border-color: $name;
        background-color: v("#{$name}25");
        color: v("#{$name}25text");
      }
      p,
      p:first-of-type {
        font-size: 1em;
      }
    }
  }
}
