@mixin tags() {
  $tags: get-setting("define.tag.class");

  #{$tags} {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: calc(#{variable(space)} / 4);
    }
    &__item {
      display: block;
      font-size: 0.8em;
      position: relative;
    }
    &__link {
      text-decoration: none;
      color: currentColor;
      display: block;
      padding: calc(#{variable(space)} / 4);
      position: relative;
      &:hover {
        background-color: transparent;
      }
      &::before {
        content: "#";
      }
      &::after {
        content: "";
        display: block;
        z-index: 1;
        position: absolute;
        left: 50%;
        width: calc(100% + (#{variable(space)} / 2));
        height: calc(100% + (#{variable(space)} / 2));
        background-color: variable(secondary);
        top: 50%;
        transform: translate(-50%, -50%) scale(0.75);
        border-radius: variable(borderRadius);
        opacity: 0;
        transition: transform 0.3s ease-in-out;
      }
      &:hover::after {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
      }
    }
  }
}
