@mixin task-list() {
  $task-list: get-setting("define.task-list.class");

  #{$task-list} {
    display: flex;
    flex-direction: column;

    &__item {
      display: block;
      & + & {
        margin-top: 0.5em;
      }
    }

    &__label {
      padding: 1em;
      border-radius: v(borderRadius);
      background-color: v(background90);
      padding-left: 2.5em;
      position: relative;
      display: block;
    }
    &__input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + #{$task-list}__label {
        background-color: v(primary10);
        // background-color: v(primary);
        // color: v(primaryText);

        &::after {
          transform: translateY(-50%) scale(0.5);
        }
      }
    }
    &__label {
      &::before,
      &::after {
        content: "";
        width: 1.25em;
        height: 1.25em;
        position: absolute;
        left: 0.5em;
        top: 50%;
        display: block;
        border-radius: 50%;
        transition: transform #{variable(transition)};
      }
      &::before {
        transform: translateY(-50%) scale(1);
        box-shadow: 0 0 0 2px variable(foreground);
      }
      &::after {
        background-color: v(primary);
        transform: translateY(-50%) scale(0);
      }
    }
    &__link {
      position: relative;
      z-index: 2;
    }
  }
}
